<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title></title>
    <meta name="generator" content="Bootply" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
    <link href="css/styles.css" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="row">

            <div class="col-md-12">

                <div class="panel">
                    <div class="panel-body">

                        <div id="page" class="container" style="margin-top:50px">

                            <h2 class="panel-heading">import contacts</h2>
                            <div class="panel-body">
                                <form class="form-inline" encType="multipart/form-data" action="/file/upload"
                                    method="POST">
                                    <div class="form-group mb-2">
                                        <label for="staticEmail2" class="sr-only">upload file:</label>
                                        <input class="form-control" id="fileupload" name="fileupload" type="file">
                                    </div>
                                    <div class="form-group mx-sm-3 mb-2">
                                        <input type="submit" class="btn btn-primary mb-2" value="upload" />
                                    </div>
                                    <% if (error!=undefined) { %>
                                    <div class="error"><%= error %></div>
                                    <% } %>
                                </form>
                                <hr><br />
                            </div>
                            <div class="row">
                                <% if (numberOfContacts!=undefined) { %>
                                <div>number of contacts: <%= numberOfContacts %></div>
                                <% } %>
                            </div>
                            <hr>
                            <div class="row">
                                <a class="btn btn-primary" href="/contactsList">contacts List</a>
                            </div>
                            <hr>
                            <div class="row">
                                <a class="btn btn-success" href="/jobs">jobs List</a>
                            </div>
                            <hr>

                            <div class="row">
                                <a class="btn btn-danger" href="/contactsList/exportAll">export all contacts</a>
                            </div>
                            <hr>

                            <div class="row">
                                <a class="btn btn-warning" href="/contactsList/exportGroupedByDomain">
                                    export GroupedBy Domain
                                </a>
                            </div>
                            <hr>
                        </div>


                    </div>
                </div>
                <!--/col-12-->
            </div>
        </div>


        <!-- script references -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
</body>

</html>